body {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper {
    width: 100%;
    height: 550px;
}

.greybox {
    width: 100%;
    height: 400px;
    background-color: #707070;
}

.circle {
    width: 270px;
    height: 270px;
    margin-inline: 50px;
    margin-top: 50px;
    border-radius: 50%;
    border: 10px solid #444;
}

