body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

img {
    grid-column: 1/ 2;
    grid-row: 1/ 2;
    z-index: 0;
}

.tart {
    grid-column: 1/ 3;
    grid-row: 1/ 2;
    z-index: 2;
    font-size: 200px;
}

.greybox {
    width: 100% ;
    height: 100%;
    background-color: #b9b8b9;
    grid-column: 2/ 3;
    grid-row: 1/ 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: end;
}

.cherries {
    grid-row: 2/ 3;
    font-size: 100px;
    color: red;
}